<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <div class="grid-container">
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          @if(superControl){
          <th>Actions</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          @if(superControl){
          <td>
            <button (click)="showEditModal(user)">Edit</button>
            <button>Delete</button>
          </td>
        }
        </tr>
      </tbody>
    </table>
    @if(selectedUser){
    <ng-container>
        <div class="user-card">
            <h3>{{selectedUser?.name}}</h3>
            <app-user-edit [user]="selectedUser"></app-user-edit>
        </div>
    </ng-container>
}
</body>
</html>