<!DOCTYPE html>
<html>
<head>
    <title>Role List</title>
</head>
<body>
    <h1>Role List</h1>
    <div>
      <button (click)="this.router.navigate(['/add-role'])">Add Role</button>
  </div>
    <div class="grid-container">
    </div>
    <table>
      <thead>
        <tr>
          <th>Role Name</th>
          <th>Role Access</th>
          <th *ngIf="superControl">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.roleAccess }}</td>
          <td *ngIf="superControl">
            <button (click)="showEditModal(user)">Edit</button>
            <button (click)="onDeleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-container *ngIf="selectedUser">
        <div class="user-card">
            <h3>{{selectedUser?.name}}</h3>
            <app-user-edit [user]="selectedUser" (cancelEdit)="cancelEdit()"></app-user-edit>
        </div>
    </ng-container>
</body>
</html>
