<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span>Admin's Inventory
        </div>
        <span class="material-icons-outlined">close</span>
    </div>

    <ul class="sidebar-list">
        @for(item of permissions; track item){
        <li class="sidebar-list-item">
            <a [routerLink]="item.listperm.url">
                <span class="material-icons-outlined">{{item.icon?item.icon:'dashboard'}}</span> {{item.name}}
            </a>
        </li>
        }
    </ul>
</aside>