<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span>Admin's Inventory
        </div>
        <span class="material-icons-outlined">close</span>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a routerLink="/dashboard">
                <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/products">
                <span class="material-icons-outlined">inventory_2</span> Products
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/users">
                <span class="material-icons-outlined">fact_check</span>User Permissions
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/purchases">
                <span class="material-icons-outlined">add_shopping_cart</span> Purchase Orders
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/user-roles">
                <span class="material-icons-outlined">fact_check</span>User Roles
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/reviews">
                <span class="material-icons-outlined">poll</span> Reports
            </a>
        </li>
        <li class="sidebar-list-item">
            <a routerLink="/changepassword">
                <span class="material-icons-outlined">settings</span> Settings
            </a>
        </li>
    </ul>
</aside>