<div>
  <h2>Page Permission</h2>
  <div>
    @if(addPerm || superControl){
    <button (click)="this.router.navigate(['/add-role'])">Add Role</button>
    }
</div>
  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let each of permissionData; let i = index">
      <div class="heading">
        <h3>{{ each.role }}</h3>
        @if(editPerm || superControl){
        <button type="button" (click)="toggleEdit(each, $event)">Edit</button>
        <button type="button" (click)="deleteRole(each)">Delete</button>
        }
      </div>
      <div *ngIf="each.editMode">
        <table>
          <thead>
            <tr>
              <th>Page Name</th>
              <th>List</th>
              <th>Add</th>
              <th>Edit</th>
              <th>View</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let eachPerm of each.permission; let j = index">
              <td>{{ eachPerm.page }}</td>
              <td>
                <input type="checkbox" [(ngModel)]="each.permission[j].list.status" name="list-{{i}}-{{j}}">
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="each.permission[j].add.status" name="add-{{i}}-{{j}}">
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="each.permission[j].edit.status" name="edit-{{i}}-{{j}}">
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="each.permission[j].view.status" name="view-{{i}}-{{j}}">
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="each.permission[j].delete.status" name="delete-{{i}}-{{j}}">
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" (click)="toggleEdit(each, $event)">Cancel Changes</button>
        <button type="submit">Save Changes</button>
      </div>
    </div>
  </form>
</div>
