<body>
    <div class="wrapper">
      <h2>Change Password</h2>
      <form action="#" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-box">
            <input type="email" placeholder="Enter your email" formControlName="email">
            @if(myFormControl.email.dirty || submitted)
            {
            <div>
              @if(myFormControl.email.errors?.required){
              <small>*Email is Required</small>
              }
              @if(myFormControl.email.errors?.email){
              <small>*Email should be Valid</small>
              }
            </div>
            }
          </div>
          <div class="input-box">
            <input type="password" placeholder="Enter your Old password " formControlName="password">
            @if(myFormControl.password.dirty || submitted){
              @if(myFormControl.password.errors?.required){
            <small>*Password is Required</small>
              }
            }
          </div>
          <div class="input-box">
            <input type="password" placeholder=" New  password" formControlName="newpassword">
            @if(myFormControl.newpassword.dirty || submitted){
              @if(myFormControl.newpassword.errors?.required){
            <small>*password is required</small>
              }
    
              @if(myFormControl.newpassword.errors?.invalidPassword){
                <div>
                <small>Password must contain-Numeric,Special,Upper-Lower</small>
                </div>
              }
            }
          </div>
          <div class="input-box">
            <input type="password" placeholder="Confirm password" formControlName="newcfpassword">
            @if(myFormControl.newcfpassword.dirty || submitted){
              @if(myFormControl.newcfpassword.errors?.required){
            <small>*confirm the password</small>
              }
            }
          </div>
          @if(myFormControl.newcfpassword.dirty && myFormControl.newcfpassword.errors?.passwordMismatch){
          <div>
            <small>Passwords dont match</small>
          </div>
        }
        <div class="input-box button">
          <input type="submit" value="Change Password">
        </div>
      </form>
    </div>
  </body>
  