<body>
  <div class="wrapper" [ngClass]="formstatus">
    <h2>Registration</h2>
    <form action="" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" formControlName="name">
        @if(myFormControl.name.dirty || submitted){
          @if(myFormControl.name.errors?.required){
        <small>*Name is Required</small>
          }
        }
      </div>
      <div class="input-box">
        <input type="email" placeholder="Enter your email" formControlName="email">

        @if(myFormControl.email.dirty || submitted)
        {
        <div>
          @if(myFormControl.email.errors?.required){
          <small>*Email is Required</small>
          }
          @if(myFormControl.email.errors?.email){
          <small>*Email should be Valid</small>
          }
        </div>
        }
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" formControlName="password">
        @if(myFormControl.password.dirty || submitted){
          @if(myFormControl.password.errors?.required){
        <small>*password is required</small>
          }

          @if(myFormControl.password.errors?.invalidPassword){
            <div>
            <small>Password must contain-Numeric,Special,Upper-Lower</small>
            </div>
          }
        }
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" formControlName="cfpassword">
        @if(myFormControl.cfpassword.dirty || submitted){
          @if(myFormControl.cfpassword.errors?.required){
        <small>*confirm the password</small>
          }
        }
      </div>
      @if(myFormControl.cfpassword.dirty && myFormControl.cfpassword.errors?.passwordMismatch){
      <div>
        <small>Passwords dont match</small>
      </div>
    }
      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="#" routerLink="">Login now</a></h3>
      </div>
    </form>
  </div>
</body>